﻿@model IEnumerable<UserStore.BLL.DTO.UserNameRoleDTO>

@{
    ViewBag.Title = "Edit Users";
}

<div>
    <h3>Edit users list here</h3>
    <br />
    @foreach (var u in ViewBag.usersNameRolesDTOList)
    {
        <div>
            @u.UserName 
            @foreach(string r in u.UserRoles)
            {
                <span>|</span>
                @r
            }
        </div>
    }
</div>
