﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <br />
    <p>@Html.ActionLink("Demo front-end page", "Review", "Owls")</p>
    <br />
    <p><a href="http://localhost:51404/">Cats VS Dogs unity web-player game</a></p>
</div>