﻿@model DemoWebApp01.Models.LoginModel

@{ 
    ViewBag.Title = "Login";
}

<h2>Login to account</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />        
        @Html.ValidationSummary()
        
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div>
            Login (nickname):
            <div>
                @Html.EditorFor(m => m.Name)
            </div>
        </div>
        <div>
            Password:
            <div>
                @Html.EditorFor(m => m.Password)
            </div>
        </div>
        <div>
            <div>
                <button type="submit">Login</button>
            </div>
        </div>

    </div>
}
