﻿@model DemoWebApp01.Models.RegisterModel

@{ 
    ViewBag.Title = "Register";
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>New user registration</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            Nick name:
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>

        <div>
            Password:
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Confirm password:
            <div>
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
        </div>

        <div>
            <div>
               <input type="submit" value="Register" />
             </div>
        </div>
    </div>
}
