﻿
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HQWT</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!--
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    !-->
    <!--
    <script type="text/javascript" src="scripts/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="main.js"></script>
    !-->
    @Styles.Render("~/Content/owlscss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top-menu">
        <ul id="top-ul">
            <li>@Html.ActionLink("home", "Index", "Home")</li>
            <li><a href="#">owls</a>
                <ul class="owls-sub-menu">
                    <li><a href="#first-owl">horned</a></li>
                    <li><a href="#second-owl">snowy</a></li>
                    <li><a href="#third-owl">screech</a></li>
                    <li><a href="http://google.com">Google.com</a></li>
                </ul>
            </li>
            <li><a href="#">nothing</a></li>
            <li><a href="#">else is</a></li>
            <li><a href="#">available</a></li>
            <li><a href="#">yet</a></li>
        </ul>
        <span class="logo">Amazing owlS</span>
    </div>
    <div id="content-layout">
        <div class="content clearfix" id="first-owl">
            <img src="~/Content/OwlsImages/owl_1.jpg" alt="great horned owl"/>
            <div class="content-text">
                <p class="first_p">The great horned owl is the most common owl of the Americas, easily recognizable because of the feather tufts on its head. These "plumicorns" resemble horns or, to some, catlike ears.</p>
                <p>Great horned owls are adaptable birds and live from the Arctic to South America. They are at home in suburbia as well as in woods and farmlands. Northern populations migrate in winter, but most live permanently in more temperate climes.</p>
                <p>The birds nest in tree holes, stumps, caves, or in the abandoned nests of other large birds. Monogamous pairs have one to five eggs (two is typical), both the male and female incubate, and the male also hunts for food. Owls are powerful birds and fiercely protective parents. They have even been known to attack humans who wander too close to their young.</p>
                <p>Like other owls, these birds have an incredible digestive system. They sometimes swallow their prey whole and later regurgitate pellets composed of bone, fur, and the other unwanted parts of their meal. Owls are efficient nighttime hunters that strike from above, and use their powerful talons to kill and carry animals several times heavier than themselves. Owls prey on a huge variety of creatures, including raccoons, rabbits, squirrels, domestic birds, falcons, and other owls. They regularly eat skunks, and may be the only animal with such an appetite. They sometimes hunt for smaller game by standing or walking along the ground. Owls have even been known to prey upon unlucky cats and dogs.</p>
                <p>Great horned owls are largely nocturnal so they can be difficult to spot. But in the dark after sunset, or just before dawn, they can often be heard vocalizing with their well known series of "Hoo H'hoos!"</p>
            </div>
        </div>
        <div class="content clearfix" id="second-owl">
            <img src="~/Content/OwlsImages/owl_2.jpg" alt="snowy owl"/>
            <div class="content-text">
                <p class="first_p">The ghostlike snowy owl has unmistakable white plumage that echoes its Arctic origins.</p>
                <p>These large owls breed on the Arctic tundra, where females lay a clutch of 3 to 11 eggs. Clutch size depends upon the availability of food, and in particularly lean times a usually monogamous pair of owls may not breed at all. Parents are territorial and will defend their nests against all comers—even wolves.</p>
                <p>Young owls, especially males, get whiter as they get older. Females are darker than males, with dusky spotting, and never become totally white. Some elderly males do become completely white, though many retain small flecks of dusky plumage.</p>
                <p>The snowy owl is a patient hunter that perches and waits to identify its prey before soaring off in pursuit. Snowy owls have keen eyesight and great hearing, which can help them find prey that is invisible under thick vegetation or snowcover. The owls deftly snatch their quarry with their sharp talons.</p>
                <p>A snowy owl's preferred meal is lemmings—many lemmings. An adult may eat more than 1,600 lemmings a year, or three to five every day. The birds supplement their diet with rabbits, rodents, birds, and fish.</p>
                <p>These magnificent owls sometimes remain year-round in their northern breeding grounds, but they are frequent migrants to Canada, the northern United States, Europe, and Asia. Lemming availability may determine the extent of southern migration, when owls take up summer residence on open fields, marshes, and beaches.</p>
            </div>
        </div>
        <div class="content clearfix" id="third-owl">
            <img src="~/Content/OwlsImages/owl_3.jpg" alt="Cuban screech owl"/>
            <div class="content-text">
                <p class="first_p">The goggle-eyed Cuban screech owl gets its other common name, bare-legged owl, from its featherless lower appendages. While most of the world’s more than 200 owl species wear feathers down to their toes, the Cuban screech owl’s warm tropical habitat appears to have encouraged it to evolve permanent Bermuda shorts.</p>
                <p>These nocturnal birds of prey are endemic only to Cuba, and their substantial range covers nearly the entire island. They prefer forest and wooded areas with palm trees, which they bore roosting holes into. They will also frequently occupy abandoned woodpecker holes.</p>
                <p>Their feathers are dark brown with white spots on top, and their bellies and bottom wing feathers are grayish-white. They have large brown eyes outlined with dramatic white feathers. The Cuban screech owl is not well studied, and information about its diet is scarce, but, like most owl species, it likely feeds on small mammals, other birds, frogs, and insects.</p>
                <p>The bare-legged owl became the Cuban screech owl in 1998, when the American Ornithologists’ Union reclassified it in the genus Otus, which includes scops and screech owls. However, in 2003, the union, citing differences in morphology and vocal patterns, reversed itself, placing the owl in its own genus, Gymnoglaux, and restoring its former name.</p>
                <p>No reliable population numbers or trends are available on the Cuban screech owl, but it is reported to be common throughout its range. Human encroachment likely impacts some parts of its habitat, but it currently has no special conservation status.</p>
            </div>
        </div>
    </div>
    <div class="social">
        <div id="sn01"></div>
        <div id="sn02"></div>
        <div id="sn03"></div>
    </div>
    <div class="footer"><span>Footer, 2016</span></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/owlsMain")
</body>
</html>